// VARIABLES
$color-primary: hsl(185, 75%, 39%);
$color-secondary: hsl(229, 23%, 23%);
$color-tertiary: hsl(227, 10%, 46%);

$color-grey: hsl(0, 0%, 59%);

// MIXINS
@mixin name-stat-style {
  font-size: 1.8rem;
  font-weight: 700;
  color: $color-secondary;
}

// GENERAL RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: $color-tertiary;
}

.container {
  height: 100vh;
  width: 100vw;
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg),
    linear-gradient($color-primary, $color-primary);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 125% 200%, -25% -100%;

  display: flex;
  align-items: center;
  justify-content: center;

  // FOR LAPTOPS
  @media screen and (min-width: 90em) {
    background-position: -75% 175%, 175% -100%;
  }

  // FOR BIG-DESKTOP
  @media screen and (min-width: 150em) {
    height: 80vh;
    width: 60vw;
    margin: 10rem auto;
    box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  }
}

.profilecard {
  text-align: center;
  border-radius: 1.5rem;
  overflow: hidden;

  &--box1 {
    position: relative;
    height: 15rem;
    background-image: url(../images/bg-pattern-card.svg);
  }

  &--img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 50%;
    border: 5px solid hsl(0, 0%, 100%);
  }

  &--box2 {
    background-color: hsl(0, 0%, 100%);
    padding-top: 7rem;

    .name-box {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-bottom: 1rem;

      .name {
        @include name-stat-style;
      }

      .number {
        font-size: 1.8rem;
      }
    }

    .city {
      margin-bottom: 2.5rem;
    }

    .stats-box {
      padding: 2.4rem 4rem;
      border-top: 1px solid rgba($color-tertiary, 0.2);
      display: flex;
      align-items: center;
      gap: 4rem;
      color: $color-grey;

      .stat {
        @include name-stat-style;
        margin-bottom: 0.3rem;
      }

      span {
        display: block;
        font-size: 1rem;
        letter-spacing: 2px;
      }
    }
  }
}
